<div class="row">
        <div class="col-md-8 ml-4 mr-4">
          <div class="card ml-4">
            <div class="card-body">
              <h5 class="card-title">Results...</h5>
              
              <div id="map"></div>

                  <a href="/" class="btn btn-danger" id="goBackBtn">Enter a new location</a>

            <!-- go back to home page -->

        
        </div>
          

        </div>
        </div>
        </div>

        <script src="/js/maps2.js"></script>
                 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLxYdbneHjnVzBy5VSvtXohHFKRaMh8jk&libraries=places&callback=initMap"></script>

