<form id="entireForm">
    
    <!--text input-->
    <div class="form-group">
        <label for="exampleFormControlInput1">Location</label>
        <input type="address" class="form-control" id="locationName" placeholder="Please enter name of location!">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Location</label>
        <input type="address" class="form-control" id="inputAddress" placeholder="Please location address!">
    </div>

    <!--Insert star rating here for cleanliness-->
    <p>
        <div class='rating-stars'>
            <strong>ID</strong>: {{example.id}}
            <ul id='stars'>
                <li class='star' data-value='1'>
                    <i class='fa fa-star'></i>
                </li>
                <li class='star' data-value='2'>
                    <i class='fa fa-star'></i>
                </li>
                <li class='star' data-value='3'>
                    <i class='fa fa-star'></i>
                </li>
                <li class='star' data-value='4'>
                    <i class='fa fa-star'></i>
                </li>
                <li class='star' data-value='5'>
                    <i class='fa fa-star'></i>
                </li>
            </ul>
    </p>
    </div>

    <!--select yes/no for other categories-->
    <div class="form-group">
        <label for="exampleFormControlSelect1">Single-user Restroom?:</label>
        <select class="form-control" id="inputType">
            <option value="1">Multi</option>
            <option value="0">Single</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect2">Handicap Accessible:</label>
        <select class="form-control" id="inputHandicap">
            <option value="1">Yes</option>
            <option value="0">No</option>
            </select>
        </div>

    <div class="form-group">
        <label for="exampleFormControlSelect3">Family Restroom</label>
        <select class="form-control" id="inputFamily">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect4">Changing Table</label>
        <select class="form-control" id="inputChanging">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </div>

      <div class="form-group">
        <label for="exampleFormControlSelect5">Unisex</label>
        <select class="form-control" id="inputUnisex">
            <option value="0">No</option>
            <option value="1">Yes</option>
         </select>
    </div>

      <div class="form-group">
        <label for="exampleFormControlSelect6">Key Required</label>
        <select class="form-control" id="inputKeyReq">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </div>


    <button type="button" id="submitForm" class="btn btn-primary btn-lg btn-block">Submit</button>

</form>


<!-- need to move this into the form and tie into the Submit button-->
<input id="photoupload" type="file" accept="image/*">
<button id="addphoto">Add Photo</button>
<!---->



<a href="/example/{{example.id}}">Take me back to location details</a> 



<script src="/js/reviews.js"></script>
<script src="/js/ratings.js"></script>
<script src="/js/saveimages.js"></script>