<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">User</label>
        <input type="username" class="form-control" id="exampleFormControlInput1" placeholder="Please enter any username">
    </div>

    <!--Insert star rating here for cleanliness-->

    <!--select yes/no for other categories-->
    <div class="form-group">
        <label for="exampleFormControlSelect1">Single-user / Multi-user Restroom:</label>
        <select class="form-control" id="inputType">
            <option>Multi</option>
            <option>Single</option>
            

        </select>

        <label for="exampleFormControlSelect2">Handicap Accessible:</label>
        <select class="form-control" id="inputHandicap">
            <option>Yes</option>
            <option>No</option>

        </select>

        <label for="exampleFormControlSelect3">Family Restroom</label>
        <select class="form-control" id="inputFamily">
            <option>No</option>
            <option>Yes</option>
            

        </select>

        <label for="exampleFormControlSelect1">Changing Table</label>
        <select class="form-control" id="inputChanging">
            <option>Yes</option>
            <option>No</option>

        </select>
        <label for="exampleFormControlSelect1">Unisex</label>
        <select class="form-control" id="inputUnisex">
            <option>No</option>
            <option>Yes</option>
            

        </select>

        <label for="exampleFormControlSelect1">Key Required</label>
        <select class="form-control" id="inputKeyReq">
           <option>No</option> 
           <option>Yes</option>
            
        </select>


    </div>

   


    <button type="button" id="submitForm" class="btn btn-primary btn-lg btn-block">Submit</button>

</form>



<script src="/js/reviews.js"></script>