<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reviews</title>
</head>
<body>
    


<div class="container">
  <div class="row">
    <div class="col">
      <!--empty column space-->
    </div>
    
 <!--middle column contains form / buttons to navigate-->   
<div class="col-8">
      
<form id="entireForm">
    
    <!--text input-->
    <div class="form-group">
        <label for="exampleFormControlInput1">Location:</label>
        <input type="address" class="form-control" id="locationName" placeholder="Please enter name of location! Ex: Starbucks ">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Address: </label>
        <input type="address" class="form-control" id="inputAddress" placeholder="Enter address">
    </div>

    <!--Insert star rating here for cleanliness-->
    <p>
        <div class='rating-stars'>
            <strong>ID</strong>: {{example.id}}
            <ul id='stars'>
                <li class='star' data-value='1'>
                    <i class='fa fa-star'></i>
                </li>
                <li class='star' data-value='2'>
                    <i class='fa fa-star'></i>
                </li>
                <li class='star' data-value='3'>
                    <i class='fa fa-star'></i>
                </li>
                <li class='star' data-value='4'>
                    <i class='fa fa-star'></i>
                </li>
                <li class='star' data-value='5'>
                    <i class='fa fa-star'></i>
                </li>
            </ul>
    </p>
    </div>

    <!--select yes/no for other categories-->
    <div class="form-group">
        <label for="exampleFormControlSelect1">Single-user Restroom:</label>
        <select class="form-control" id="inputType">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect2">Handicap Accessible:</label>
        <select class="form-control" id="inputHandicap">
            <option value="1">Yes</option>
            <option value="0">No</option>
            </select>
        </div>

    <div class="form-group">
        <label for="exampleFormControlSelect3">Family Restroom</label>
        <select class="form-control" id="inputFamily">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect4">Changing Table</label>
        <select class="form-control" id="inputChanging">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </div>

      <div class="form-group">
        <label for="exampleFormControlSelect5">Unisex</label>
        <select class="form-control" id="inputUnisex">
            <option value="0">No</option>
            <option value="1">Yes</option>
         </select>
    </div>

      <div class="form-group">
        <label for="exampleFormControlSelect6">Key Required</label>
        <select class="form-control" id="inputKeyReq">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </div>


    <button type="button" id="submitForm" class="btn btn-primary btn-lg btn-block">Submit</button>

</form>
      
    </div>
    <div class="col">
      <!--empty column space-->
    </div>
  </div>



<!--separate div for navigation buttons-->
<div class="navigationButtons">
  <div class="row">
    <div class="col">
      <!--empty column space-->
    </div>
    <div class="col-8">
      
      <!-- need to move this into the form and tie into the Submit button-->
        <input id="photoupload" type="file" accept="image/*">
        <button id="addphoto">Add Photo</button>
        <!---->

         <input type="button" class="btn btn-primary" value="Back to Description" onclick="location.href = '/example/{{example.id}}';">

    

    </div>
    <div class="col">
      <!--empty column space-->
    </div>
  </div>






<script src="/js/reviews.js"></script>
<script src="/js/ratings.js"></script>
<script src="/js/saveimages.js"></script>



</body>
</html>