


.form-group {
    padding: 10px;
}

.navigationButtons {
    padding: 30px;
}

.py-5 {
    height: 20px;
}

#footer {
    
    background-color: #0066ff;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    bottom: 0;
    
    

}

.col-8 {
    margin-top: 20px;
}

.row {
    margin-top: 80px;
}